{% extends 'base.html.twig' %}


{% block body %}
<p>{{ 'Symfony is great' | trans }}</p>
<p>{% trans %} Symfony is great {% endtrans %}</p>
{% endblock %}



{#
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<p>Hi there: {{ app.user.username }}</p>
		<a href="/logout">Logout</a>
	{% else %}
		<a href="/login">Login</a>
	{% endif %}

	{% if is_granted('ROLE_ADMIN') %}
		<hr>
		<a href="/ascuns">pagina ascunsa</a>
	{% endif %}
	{% if is_granted('ROLE_USER') %}
		<hr>
		<p><a href="/user">User page</a></p>
		<p><a href="/admin">Admin page</a></p>
	{% endif %}
#}




{% block stylesheets %}
{{ parent() }}
{% endblock %}
